@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* =========================================NAVBAR=================================== */
nav{
  width: 100vw;
  height: 10vh;
  background-color: #EAEA6B;
}

.nav-content{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content .left-nav{
  background-color: #EB5754;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.nav-content .left-nav h1{
  color: black;
  font-weight: bold;
}

.nav-content .right-nav{
  display: flex;
  align-items: center;
}

.new-product-container{
  display: flex;
  align-items: center;
  margin-right: 35px;
  background-color: #EB5754;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 1s ease-in;
}

.new-product-container:hover{
  outline: 1px solid #9E4341;
}

.chart-container{
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.chart-container:hover{
  outline: 1px solid black;
}

/* =========================================main=================================== */
main{
  height: 90vh;
  width: 100vw;
  background-color: #6B6B31;
  padding: 15px 5vw;
}

.products-grid{
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-gap: 10px;
}

.product-item{
  min-width: 220px;
  max-width: 220px;
  min-height: 275px;
  max-height: 275px;
  overflow: hidden;
  background-color: #B8B854;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.product-item:hover{
  box-shadow: 0 0 10px black;
}

.product-item .img-container{
  width: 90%;
  height: 65%;
  overflow: hidden;
  outline: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #EEEEB5;
}

.product-item .img-container img{
  width: 100%;
  height: 100%;
}

.product-item .info-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.product-item .info-container .left-info{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.product-item .info-container .left-info p{
  color: rgb( 0, 0, 0, 0.8 );
}

.product-item .info-container .right-info{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.product-item .info-container .right-info:hover{
  outline: 1px solid black;
}